
#menu {
    border-right: 1px solid white;
    width: 10%;
    flex-direction: column;
    height: 100vh;
    color: white;
    font-size: 30px;
    
    
 
}

.m1 {padding-top:19px;}

.m1, .m2, .m3, .m4, .m5, .m6, .m7, .m8, .m9, .m10 {
    color:white;
    text-decoration: none;
    padding-bottom:10px;
    display: flex;
    margin-bottom: 20px;
    font-size: 20px;

  

}
